.Draw-Board {
  width: auto;
  height: auto;
  margin-left: 163px;
  /* margin: 100px; */
  /* background: rgba(254, 209, 54, .9); */
}
.Draw-Board-BG {
  width:auto;
  height: auto;
  position: absolute;
  z-index:-2;
}