.Pattern {
  background: #ccf0f0;
  position: absolute;
  align:center;
}
.Pattern-Shape {
  position: absolute;
  /* visibility: collapse; */
}
.Pattern-Text{
  border:none;
  text-align:center;
  background: #ccf0f0;
  display: table-cell; 
  vertical-align: middle
}