.Pattern {
  /* background: #fdfdfd; */
  position: absolute;
}
.Pattern-Shape {
  position: absolute;
  /* visibility: collapse; */
}
.Pattern-Text{
  border:none;
  text-align:center;
  display: table-cell; 
  vertical-align: middle
}