.Pattern-Box {
    text-align:center;
    border:none;
    background: #fdfdfd;
    display: table-cell; 
    vertical-align: middle;
    width: 52px;
    height: 52px;
  }

  .Pattern-Box-Shape {
    width: 52px;
    height: 52px;
  }